.form-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem 0px;

  .center {
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .full-width {
    width: 100%;
  }

  @media (max-width: 768px) {
    .center {
      flex: 1 1 100%;
    }
  }
}

mat-form-field {
  width: 100%;
}

// fieldset {
//   legend {
//     color: red
//   }
//   padding: 20px;
//   // border: solid 1px red;

//   .mat-form-field {
//     padding: 10px 0;
//   }
// }
